body {
    background-color: black;
    color: white;
}

nav {
    background-color: rgb(84, 87, 80);
    padding: 2px;
    margin: 10px;
}

ul {
    list-style: none;
}

nav > ul {
    display: flex;
}

nav ul li {
    padding: 4px 20px;
    margin: 2px 5px;
    font-weight: bold;
    font-size: large;
    background-color: aquamarine;
}

nav ul li:hover {
    background-color: cornflowerblue;
}

nav li .dropdown {
    display: none;
}

nav li:hover > .dropdown {
    /* display: block; */
    display: grid;
    position: absolute;
    row-gap: 2px;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

td, th {
    border: 2px solid white;
    padding: 5px 10px;
}