body {
    background-color: black;
    color: white;
}

nav > ul > li {
    display: inline;
    padding: 4px 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
    background-color: aquamarine;
}

nav ul li:hover {
    background-color: cornflowerblue;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

td, th {
    border: 2px solid white;
    padding: 5px 10px;
}